/* =========================================
   Columns
   ======================================== */
.sc-col-2-1,
.sc-col-3-1,
.sc-col-3-2,
.sc-col-4-1,
.sc-col-4-3,
.sc-col-5-1,
.sc-col-5-2,
.sc-col-5-3,
.sc-col-5-4 {
	float: left;
	margin-right: 3.03%;
}

.sc-col-2-1 {
	width: 48.48%;
}

.sc-col-3-1 {
	width: 31.31%;
}

.sc-col-3-2 {
	width: 65.65%;
}

.sc-col-4-1 {
	width: 22.72%;
}

.sc-col-4-3 {
	width: 74.24%;
}

.sc-col-5-1 {
	width: 17.57%;
}

.sc-col-5-2 {
	width: 38.18%;
}

.sc-col-5-3 {
	width: 58.78%;
}

.sc-col-5-4 {
	width: 79.39%;
}

.sc-last {
	margin-right: 0;
}




/* =========================================
   Buttons
   ======================================== */
/*BUTTON COMMON*/
.button-wrap {
	float: left;
	margin-right: 10px;
	}

.sc-button {
	display: block;
	height: 28px;
	line-height: 28px;
	padding: 0 20px;
	font-weight: bold;
	background-position: 0 0; 
	background-repeat: repeat-x;
	border-width: 1px;
	border-style: solid;
	/*border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);*/
	}

.sc-button:hover { 
	background-position: 0 100%; 
	}



/*BUTTON STYLES*/
.sc-button-white {
	border-top-color: #D5D5D5;
	border-right-color: #D6D6D6;
	border-bottom-color: #D8D8D8;
	border-left-color: #D5D5D5;
	background-image: url(../images/shortcode/button-white.png);
	}

.sc-button-white:hover {
	border-top-color: #CECECE;
	border-right-color: #D0D0D0;
	border-bottom-color: #D7D7D7;
	border-left-color: #CECECE;
	}

.sc-button-white,
.sc-button-white:hover {
	color: #666666;
	text-shadow:0px 1px 0px #FFFFFF;
	}

.sc-button-grey {
	border-top-color: #B1B1B1;
	border-right-color: #B5B5B5;
	border-bottom-color: #B2B2B2;
	border-left-color: #B1B1B1;
	background-image: url(../images/shortcode/button-grey.png);
	}

.sc-button-grey:hover {
	border-top-color: #9D9D9D;
	border-right-color: #A2A2A2;
	border-bottom-color: #A5A5A5;
	border-left-color: #9D9D9D;
	}

.sc-button-grey,
.sc-button-grey:hover {
	color: #666666;
	text-shadow:0px 1px 0px #D2D2D2;
	}

.sc-button-black {
	border-top-color: #424242;
	border-right-color: #4C4C4C;
	border-bottom-color: #434343;
	border-left-color: #424242;
	background-image: url(../images/shortcode/button-black.png);
	}

.sc-button-black:hover {
	border-top-color: #313131;
	border-right-color: #3C3C3C;
	border-bottom-color: #383838;
	border-left-color: #313131;
	}

.sc-button-black,
.sc-button-black:hover {
	color: #FFFFFF;
	text-shadow:0px 1px 0px #3F3F3F;
	}

.sc-button-yellow {
	border-top-color: #D8A52A;
	border-right-color: #D9A936;
	border-bottom-color: #DDAB2F;
	border-left-color: #D8A52A;
	background-image: url(../images/shortcode/button-yellow.png);
	}

.sc-button-yellow:hover {
	border-top-color: #BD8600;
	border-right-color: #C08C0C;
	border-bottom-color: #C99613;
	border-left-color: #BD8600;
	}

.sc-button-yellow,
.sc-button-yellow:hover {
	color: #785D00;
	text-shadow:0px 1px 0px #F7DC7C;
	}

.sc-button-orange {
	border-top-color: #F47A15;
	border-right-color: #F4814F;
	border-bottom-color: #F57D47;
	border-left-color: #F47A15;
	background-image: url(../images/shortcode/button-orange.png);
	}

.sc-button-orange:hover {
	border-top-color: #E26026;
	border-right-color: #E36832;
	border-bottom-color: #E76B32;
	border-left-color: #E26026;
	}

.sc-button-orange,
.sc-button-orange:hover {
	color: #B23D21;
	text-shadow:0px 1px 0px #FCAF88;
	}

.sc-button-red {
	border-top-color: #D55C5C;
	border-right-color: #D66565;
	border-bottom-color: #D85F5F;
	border-left-color: #D55C5C;
	background-image: url(../images/shortcode/button-red.png);
	}

.sc-button-red:hover {
	border-top-color: #BD4949;
	border-right-color: #C05353;
	border-bottom-color: #C85252;
	border-left-color: #BD4949;
	}

.sc-button-red,
.sc-button-red:hover {
	color: #913831;
	text-shadow:0px 1px 0px #F09B9B;
	}

.sc-button-green {
	border-top-color: #9FC862;
	border-right-color: #A4CA6A;
	border-bottom-color: #A3CC67;
	border-left-color: #9FC862;
	background-image: url(../images/shortcode/button-green.png);
	}

.sc-button-green:hover {
	border-top-color: #8AB150;
	border-right-color: #90B559;
	border-bottom-color: #94BB5A;
	border-left-color: #8AB150;
	}

.sc-button-green,
.sc-button-green:hover {
	color: #64813B;
	text-shadow:0px 1px 0px #CDE8A5;
	}

.sc-button-blue {
	border-top-color: #69C2E5;
	border-right-color: #71C5E6;
	border-bottom-color: #6FC4E7;
	border-left-color: #69C2E5;
	background-image: url(../images/shortcode/button-blue.png);
	}

.sc-button-blue:hover {
	border-top-color: #55A4C3;
	border-right-color: #5EA8C6;
	border-bottom-color: #64AFCD;
	border-left-color: #55A4C3;
	}

.sc-button-blue,
.sc-button-blue:hover {
	color: #3E728D;
	text-shadow:0px 1px 0px #B2E0F7;
	}

.sc-button-coffee {
	border-top-color: #B68A67;
	border-right-color: #B9906F;
	border-bottom-color: #BB8E6B;
	border-left-color: #B68A67;
	background-image: url(../images/shortcode/button-coffee.png);
	}

.sc-button-coffee:hover {
	border-top-color: #9A7150;
	border-right-color: #9F7859;
	border-bottom-color: #A77D5C;
	border-left-color: #9A7150;
	}

.sc-button-coffee,
.sc-button-coffee:hover {
	color: #7B5A41;
	text-shadow:0px 1px 0px #E1BFA6;
	}

.sc-button-purple {
	border-top-color: #C87F9B;
	border-right-color: #CA86A0;
	border-bottom-color: #CD839F;
	border-left-color: #C87F9B;
	background-image: url(../images/shortcode/button-purple.png);
	}

.sc-button-purple:hover {
	border-top-color: #AF6884;
	border-right-color: #B3708A;
	border-bottom-color: #BC7591;
	border-left-color: #AF6884;
	}

.sc-button-purple,
.sc-button-purple:hover {
	color: #7B4559;
	text-shadow:0px 1px 0px #EEB6CC;
	}


/* =========================================
   Icon Lists
   ======================================== */
.sc-iconlist ul li {
	list-style: none;
	background-repeat: no-repeat;
	background-position: 0 6px;
	padding: 4px 0 4px 25px;
	}

.sc-iconlist-download ul li {
	background-image: url(../images/shortcode/iconlist-download.png);
	}

.sc-iconlist-arrow ul li {
	background-image: url(../images/shortcode/iconlist-arrow.png);
	}

.sc-iconlist-check ul li {
	background-image: url(../images/shortcode/iconlist-check.png);
	}


.sc-iconlist-favicon ul li {
	background-image: url(../images/shortcode/iconlist-favicon.png);
	}

.sc-iconlist-image ul li {
	background-image: url(../images/shortcode/iconlist-image.png);
	}

.sc-iconlist-light ul li {
	background-image: url(../images/shortcode/iconlist-light.png);
	}

.sc-iconlist-love ul li {
	background-image: url(../images/shortcode/iconlist-love.png);
	}

.sc-iconlist-people ul li {
	background-image: url(../images/shortcode/iconlist-people.png);
	}

.sc-iconlist-settings ul li {
	background-image: url(../images/shortcode/iconlist-settings.png);
	}

.sc-iconlist-time ul li {
	background-image: url(../images/shortcode/iconlist-time.png);
	}


/* =========================================
   Message Box
   ======================================== */
.message-box {
	position: relative;
	font-size: 14px; 
	}

.message-box .message-box-inner {
	padding: 15px 30px; 
	}

.message-box .icon {
	padding-left: 80px;
	background-repeat: no-repeat;
	background-position: 25px 18px; 
	}

.message-box .hide-padding {
	padding-right: 90px;
	} 

.message-box .close {
	position: absolute;
	right: 30px;
	top: 15px;
	font-size: 11px;
	text-decoration: underline;
	cursor: pointer; 
	}

.message-box-info {
	color: #2B4B5C; 
	}

.message-box-info .message-box-inner {
	background-color: #D9ECFF;
	border: 1px solid #A0D0FF;
	}

.message-box-info .icon { 
	background-image: url(../images/shortcode/message-info.png); 
	}

.message-box-warning {
	color: #9E660D; 
	}

.message-box-warning .message-box-inner{
	background-color: #FFF0BC;
	border: 1px solid #D3BC6F;
	}

.message-box-warning .icon { 
	background-image: url(../images/shortcode/message-warning.png);
	}

.message-box-error {
	color: #A22121;
	}

.message-box-error .message-box-inner {
	background-color: #FFC7C2;
	border: 1px solid #FF8C80;
	color: #A22121;
	}

.message-box-error .icon { 
	background-image: url(../images/shortcode/message-error.png); 
	}

.message-box-success {
	color: #5E6F33;
	}

.message-box-success .message-box-inner {
	background-color: #E3FFCD;
	border: 1px solid #A3C159;
	color: #5E6F33;
	}

.message-box-success .icon { 
	background-image: url(../images/shortcode/message-success.png); 
	}


/* =========================================
   Highlight Text
   ======================================== */
.highlight { 
	padding: 3px 10px; 
	}



/* =========================================
   Html
   ======================================== */
.sc-hr { 
	height: 11px; 
	font-size: 0; 
	background: url(../images/shortcode/hr-line.png) repeat-x 0 50%;
	}

.sc-gotop { 
	height: 11px;
	line-height: 11px;
	font-size: 0;
	background: url(../images/shortcode/gotop-line.png) repeat-x 50% 50%;
	}

.sc-gotop a { 
	display: block; 
	height: 11px;
	line-height: 11px;
	font-size: 0; 
	width: 50px;
	margin: 0 auto; 
	text-indent: -999em;
	}

.sc-dotted {
	height: 3px; 
	font-size: 0; 
	background: url(../images/shortcode/double-dotted.png) repeat-x 0 50%;
	}


/* =========================================
   Toggle
   ======================================== */
.sc-toggles-wrap {
	border-top: 3px solid #212121;
	padding-top: 3px;
	}

.sc-toggle .title {
	cursor: pointer;
	height: 40px;
	line-height: 40px;
	background: url(../images/shortcode/linebg.png) repeat-x  0 100%;
	font-weight: bold;
	font-size: 14px;
	color: #333333;
	}

.sc-toggle .title span {
	padding: 0 18px;
	display: block;
	background-image: url(../images/shortcode/toggle.png);
	background-repeat: no-repeat;
	background-position: 0 16px;
	}

.sc-toggle .toggled span {  
	background-position: 0 -76px;
	}

.sc-toggle .inner { 
	padding:  12px 18px 15px;
	background: url(../images/shortcode/linebg.png) repeat-x  0 100%;
	}


/* =========================================
   Tabs
   ======================================== */
.sc-tabs-wrap { }
	
.sc-tabs-wrap .tabs {	
	margin: 0;
	padding: 0;
	}

.sc-tabs-wrap .tabs li {
	float: left;
	font-weight: bold;
	font-size: 12px;
	list-style: none;
	margin: 0;
	padding: 0;
	}

.sc-tabs-wrap .tabs li .sc-tab {
	display: block;
	padding: 0 15px;
	height: 34px;
	line-height: 34px;
	background: #F2F2F2;
	}

.sc-tabs-wrap .tabs li .sc-tab-active { 
	color: #FFF;
	background: #212121;
	}

.sc-tabs-wrap .panes { 
	padding: 12px 15px 15px;
	background: #F2F2F2;
	border-top: 3px solid #212121;
	}


/* =========================================
   Slider List
   ======================================== */
.sc-slider-list {
	position:relative;
	display: none;
}

.sc-slider-list ul,
.sc-slider-list li,
.sc-slider-list h3,
.sc-slider-list h5,
.sc-slider-list p {
	margin: 0;
	padding: 0;
}

.sc-slider-list h3.title {
	font-size: 16px;
	margin-bottom: 15px;
}

.sc-slider-list li {
	list-style: none;
	float: left;
	width: 225px;
}

.sc-slider-list h5.topic-title {
	font-size: 12px;
	margin-top: 15px;
}

.sc-slider-list p.topic-desc {
	margin-top: 8px;
	line-height: 1.6em;
}

.sc-slider-list p.post-meta {
	margin-top: 5px;
}

.sc-slider-list p.post-meta, 
.sc-slider-list p.post-meta a {
	font-size: 10px;
}

.sc-slider-list p.post-meta span {
	padding: 0 5px;
}

.sc-slider-list p.post-price {
	margin-top: 5px;
}

.sc-slider-list p.post-price s { 
	color: #999; 
	padding-right: 15px; 
}

.sc-slider-list p.post-price span { 
	color: #B92410;
}



/* =========================================
   Jcarousel
   ======================================== */

.jcarousel-skin .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin .jcarousel-clip-horizontal {
    width:  990px;
}

.jcarousel-skin .jcarousel-item-horizontal {
	margin-left: 0;
	margin-right: 30px;
}


/**
 *  Horizontal Buttons
 */
.jcarousel-skin .jcarousel-next-horizontal,
.jcarousel-skin .jcarousel-prev-horizontal {
	width: 17px;
	height: 17px;
	position: absolute;
	top: -35px;
	background-image: url(../images/shortcode/slider-btn.png);
	background-repeat: no-repeat;
	background-color: #212121;
	cursor: pointer;
}

.jcarousel-skin .jcarousel-next-horizontal {
	right: 0;
	background-position: 100% 0;
}

.jcarousel-skin .jcarousel-prev-horizontal {
   right: 18px;
   background-position: 0 0;
}

.jcarousel-skin .jcarousel-next-horizontal:hover,
.jcarousel-skin .jcarousel-next-horizontal:focus,
.jcarousel-skin .jcarousel-prev-horizontal:hover, 
.jcarousel-skin .jcarousel-prev-horizontal:focus,
.jcarousel-skin .jcarousel-next-horizontal:active,
.jcarousel-skin .jcarousel-prev-horizontal:active {
    background-color: #FF4E00; 
}

.jcarousel-skin .jcarousel-next-disabled-horizontal,
.jcarousel-skin .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin .jcarousel-next-disabled-horizontal:active,
.jcarousel-skin .jcarousel-prev-disabled-horizontal,
.jcarousel-skin .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
	background-color: #C5C5C5; 
}


/* =========================================
   Icon Boxes
   ======================================== */
.iconbox-head .iconbox-img {
	float: left;
	margin-right: 10px;
}

.iconbox-head .iconbox-title {
	font-size: 16px;
	margin-bottom: 0;
	padding-top: 7px;
}

.iconbox-head .iconbox-sub-title {
	font-size: 10px;
	font-weight: normal;
	color: #666;
	margin-bottom: 0;
}

.iconbox-desc ul {
	margin: 15px 0 0;
	padding: 0;
}

.iconbox-desc ul li {
	float: left;
	list-style: none;
	height: 31px;
	line-height: 31px;
	background: #F4F4F4;
	padding: 0 15px;
	margin: 2px 2px 0 0;
	width: 122px;
	font-size: 10px;
}

.iconbox-desc ul li:hover {
	color: #FFF;
}

.sc-iconbox-blue .iconbox-title b {
	color: #00739A;
}

.sc-iconbox-coffee .iconbox-title b {
	color: #5F360E;
}

.sc-iconbox-green .iconbox-title b {
	color: #5D8A06;
}

.sc-iconbox-orange .iconbox-title b {
	color: #F44B00;
}

.sc-iconbox-purple .iconbox-title b {
	color: #5A2FB3;
}

.sc-iconbox-red .iconbox-title b {
	color: #BC0A0A;
}

.sc-iconbox-blue .iconbox-desc ul li:hover {
	background: #00739A;
}

.sc-iconbox-coffee .iconbox-desc ul li:hover {
	background: #5F360E;
}

.sc-iconbox-green .iconbox-desc ul li:hover {
	background: #5D8A06;
}

.sc-iconbox-orange .iconbox-desc ul li:hover {
	background: #F44B00;
}

.sc-iconbox-purple .iconbox-desc ul li:hover {
	background: #5A2FB3;
}

.sc-iconbox-red .iconbox-desc ul li:hover {
	background: #BC0A0A;
}


/* =========================================
   Box
   ======================================== */
.sc-box {
	padding: 30px 30px 10px;
	background: #F4F4F4;
}

.sc-box:hover {
	background: #212121;
}

.sc-box:hover,
.sc-box:hover h1,
.sc-box:hover h2,
.sc-box:hover h3,
.sc-box:hover h4,
.sc-box:hover h5,
.sc-box:hover h6 {
	color: #FFF;
}


/* =========================================
   Gallery
   ======================================== */
.post-content .sc-gallery li {
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
}

.post-content .sc-gallery li.col-first {
	clear: left;
	margin-left: 0;
}


/* =========================================
   Slidershow
   ======================================== */
.sc-flex-container li {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-right: 2px; 
}

.sc-flex-container ul,
.sc-flex-container ol,
.sc-flex-container h3,
.sc-flex-container p {
	margin: 0; 
}

.sc-flex-container .flex-control-nav {
	bottom: -15px; 
}