/*! Main Style by Steven 2015-2-5 */

@charset 'utf-8';
@import 'jquery-fullpage.css';
/*@import 'jquery-fullpage.css';*/

/* =Base
----------------------------------------------------------------------------- */
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline;}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}ol,ul{list-style:none}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}mark{color:#000;background:#ff0}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}fieldset,legend,img{border:0}img{vertical-align:middle}svg:not(:root){overflow:hidden}hr{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type='button'],input[type='reset'],input[type='submit']{-webkit-appearance:button;-moz-appearance:button;appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type='checkbox'],input[type='radio']{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0}input[type='number']::-webkit-inner-spin-button,input[type='number']::-webkit-outer-spin-button{height:auto}input[type='search']{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}input[type='search']::-webkit-search-cancel-button,input[type='search']::-webkit-search-decoration{-webkit-appearance:none;-moz-appearance:none;appearance:none}textarea{overflow:auto;resize:vertical}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}caption,th{text-align:inherit}body .fn-hide{display:none}.fn-clear:before,.clearfix:before,.fn-clear:after,.clearfix:after{content:"";display:table}.fn-clear:after,.clearfix:after{clear:both}.fn-cl{clear:left}.fn-cr{clear:right}.fn-cb{clear:both}.fn-fl{float:left}.fn-fr{float:right}.fn-fn{float:none}.fn-ellipsis,.fn-text-overflow{white-space:nowrap;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis}.fn-linear{background:-webkit-linear-gradient(top, #fcfcfc, #f1f1f1);background:-moz-linear-gradient(top, #fcfcfc, #f1f1f1);background:-o-linear-gradient(top, #fcfcfc, #f1f1f1);background:-ms-linear-gradient(top, #fcfcfc, #f1f1f1);background:linear-gradient(to bottom, #fcfcfc, #f1f1f1)}.fn-linear-light{background:-webkit-linear-gradient(top, #fcfcfc, #f9f9f9);background:-moz-linear-gradient(top, #fcfcfc, #f9f9f9);background:-o-linear-gradient(top, #fcfcfc, #f9f9f9);background:-ms-linear-gradient(top, #fcfcfc, #f9f9f9);background:linear-gradient(to bottom, #fcfcfc, #f9f9f9)}.fn-rmb{font-family:arial;font-style:normal;padding-right:4px}.fn-webkit-adjust{-webkit-text-size-adjust:none}.fn-arrow{display:inline-block;border:4px solid transparent;width:0;height:0;line-height:0;vertical-align:middle;border-bottom-color:#666}.fn-arrow-up{display:inline-block;border:5px solid transparent;width:0;height:0;line-height:0;vertical-align:middle;border-bottom-color:#666}.fn-arrow-down{display:inline-block;border:5px solid transparent;width:0;height:0;line-height:0;vertical-align:middle;border-top-color:#666}.fn-arrow-left{display:inline-block;border:5px solid transparent;width:0;height:0;line-height:0;vertical-align:middle;border-right-color:#666}.fn-arrow-right{display:inline-block;border:5px solid transparent;width:0;height:0;line-height:0;vertical-align:middle;border-left-color:#666}

/* =Helper
----------------------------------------------------------------------------- */
.gifhidden {
  position: absolute;
  left: -100%;
}
.invisible {
  visibility: hidden;
}
.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}
.img-rounded {
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.img-thumbnail {
  display: inline-block;
  height: auto;
  max-width: 100%;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.img-circle {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
hr,
.hr {
  clear: both;
  margin: 10px 0;
  border: 0;
  border-top: 1px solid #eee;
}
.highlight {
  color: #f00 !important;
}
.fn-tl {
  text-align: left !important;
}
.fn-tc {
  text-align: center !important;
}
.fn-tr {
  text-align: right !important;
}
.fn-tj {
  text-align: justify !important;
}
.fn-nowrap {
  white-space: nowrap !important;
}
.fn-brk {
  word-wrap: break-word !important;
}
.fn-lowercase {
  text-transform: lowercase !important;
}
.fn-uppercase {
  text-transform: uppercase !important;
}
.fn-capitalize {
  text-transform: capitalize !important;
}
.fn-dn, .js-hide {
  display: none !important;
}
.fn-di {
  display: inline !important;
}
.fn-db {
  display: block !important;
}
.fn-dib {
  display: inline-block !important;
}
.fn-vh {
  visibility: hidden !important;
}
.fn-fly {
  margin-left: auto !important;
  margin-right: auto !important;
}
.f0 {
  font-size: 0 !important;
}
.p0 {
  padding: 0 !important;
}
.m0 {
  margin: 0 !important;
}
.mt0 {
  margin-top: 0 !important;
}
.mb0 {
  margin-bottom: 0 !important;
}
.fn-mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 111;
  background: rgba(0, 0, 0, 0.4);
}

/* =Global
----------------------------------------------------------------------------- */
body {
  font-family: 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  color: #444;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
mark {
  color: #333;
  background: #ffa;
}
textarea[contenteditable] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* =Layout
----------------------------------------------------------------------------- */
/** Common **/
/*body {
  overflow: hidden;
}*/

/** Header **/
#header {
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px rgba(255, 255, 255, .4) solid;
}
#header[rel='home'] {
  background: -webkit-gradient(linear, left top, left bottom, from(#A53232), to(#AE3737));
  background: -moz-linear-gradient(top, #A53232, #AE3737);
  background:-o-linear-gradient(top, #A53232, #AE3737);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A53232', endColorstr='#AE3737');
  background:-ms-linear-gradient(top, #A53232, #AE3737);
  background: linear-gradient(top, #A53232, #AE3737);
}
#header[rel='panel1'] {
  background: -webkit-gradient(linear, left top, left bottom, from(#413354), to(#4F375B));
  background: -moz-linear-gradient(top, #413354, #4F375B);
  background:-o-linear-gradient(top, #413354, #4F375B);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#413354', endColorstr='#4F375B');
  background:-ms-linear-gradient(top, #413354, #4F375B);
  background: linear-gradient(top, #413354, #4F375B);
}
#header[rel='panel2'] {
  background: -webkit-gradient(linear, left top, left bottom, from(#1C7D9F), to(#2A93B5));
  background: -moz-linear-gradient(top, #1C7D9F, #2A93B5);
  background:-o-linear-gradient(top, #1C7D9F, #2A93B5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1C7D9F', endColorstr='#2A93B5');
  background:-ms-linear-gradient(top, #1C7D9F, #2A93B5);
  background: linear-gradient(top, #1C7D9F, #2A93B5);
}
#header[rel='panel3'] {
  background: -webkit-gradient(linear, left top, left bottom, from(#243F96), to(#2F4AA0));
  background: -moz-linear-gradient(top, #243F96, #2F4AA0);
  background:-o-linear-gradient(top, #243F96, #2F4AA0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#243F96', endColorstr='#2F4AA0');
  background:-ms-linear-gradient(top, #243F96, #2F4AA0);
  background: linear-gradient(top, #243F96, #2F4AA0);
}
#header > .inner {
  margin: auto;
  max-width: 1200px;
}
#header h1 {
  margin-top: 17px;
  float: left;
}
#header nav {
  float: right;
}
#header nav a {
  float: left;
  margin-left: 1px;
  padding: 0 40px;
  height: 112px;
  color: #ddd;
  font: 19px/112px 'Microsoft Yahei', SimHei;
}
#header nav a.active,
#header nav a:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#932D2D), to(#982F2F));
  background: -moz-linear-gradient(top, #932D2D, #982F2F);
  background:-o-linear-gradient(top, #932D2D, #982F2F);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#932D2D', endColorstr='#982F2F');
  background:-ms-linear-gradient(top, #932D2D, #982F2F);
  background: linear-gradient(top, #932D2D, #982F2F);
}

/** Main **/
#main .panel {
  position: relative;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  padding-top: 113px;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}
#main .panel.home {
  background: #B13838 url(../img/bg-home.jpg) center 113px no-repeat;
  background-size: cover;
}








#main .panel.panel1 {
  background: #3E2A42 url(../img/bg-panel1.jpg) center 113px no-repeat;
  background-size: cover;
}

#main .panel.panel2 {
  background: #147598 url(../img/bg-panel2.jpg) center 113px no-repeat;
  background-size: cover;
}

#main .panel.panel3 {
  background: #1A317F url(../img/bg-panel3.jpg) center 113px no-repeat;
  background-size: cover;
}

#main .panel.panel4 {
  background: #fff;
  background-size: cover;
}

#main .scroll {
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 1.3em;
  margin-top: 6em;
  display: inline-block;
}
#main .scroll:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  margin: auto;
  width: 40px;
  height: 40px;
  -webkit-animation: 3s arrow infinite ease;
  animation: 3s arrow infinite ease;
}
@-webkit-keyframes arrow {
  0%, 100% {
    top: 50px;
  }
  50% {
    top: 80px;
  }
}
@keyframes arrow {
  0%, 100% {
    top: 50px;
  }
  50% {
    top: 80px;
  }
}

/** scrollnav **/
#scrollnav {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 27px;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}
#scrollnav li {
  position: relative;
  margin: 7px 0;
}
#scrollnav li a {
  display: block;
  width: 10px;
  height: 10px;
  background: #848484;
  border-radius: 50%;
}
#scrollnav li a.active {
  margin: -2px 0 0 -2px;
  border: 2px solid #848484;
  background: transparent;
}

/* fn-nav */
#fp-nav ul li a span {
  border-color: #848484;
  background: #848484;
}
#fp-nav ul li a.active span {
  top: 1px;
  left: 1px;
  border-width: 2px;
  background: transparent;
}

/** Footer **/
#footer {
  padding: 40px 0 100px;
  color: #85878C;
  text-align: center;
  background: #2C313A;
}
#footer .contacts .tel,
#footer .contacts a {
  margin-right: 50px;
  vertical-align: middle;
}
#footer .contacts a {
  margin-right: 35px;
}
#footer .copyright {
  margin-top: 30px;
  font-size: 12px;
}